body {
  font-family: 'Fjalla One', sans-serif;
  background: white;
}

/* pie de pagina nuevo responsive */
.pie-pagina {
  width: 100%;
  background-color: black;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie-pagina .grupo-1 .box img {
  width: 110px;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 24px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #e2dddd;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: white;
  margin-right: 10px;
  background-color: #0f0f0f;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: pink;
}

.pie-pagina .grupo-2 {
  background-color: #0f0f0f;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  color: white;
  background-color: black;
}

.text-center {
  text-align: center;
}

.listaPostres {
  width: 95%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
}

.hijo {
  margin: 2rem 0rem;
}

.titulo__producto {
  margin: 10px;
  padding: 10px;
}

.boton {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 50px;
}

/* mixin */
.boton-1 {
  background-color: pink;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 100px;
}

.boton-2 {
  background-color: pink;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 100px;
}

.boton-3 {
  background-color: pink;
  padding: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 100px;
}

.boton:hover {
  background-color: pink;
  color: black;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

img {
  width: 200px;
  height: auto;
}

/* Formulario de contacto */
.mainForm {
  background-image: url(../img/marquise.jpg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

.form {
  width: 450px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.form h2 {
  color: white;
  text-align: center;
  margin: o;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: monospace;
}

.form input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

.form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#botonForm {
  background: #0f0f0f;
  color: #fff;
  padding: 20px;
}

#botonForm:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .form {
    width: 100%;
  }
}

/* DONDE ESTAMOS */
.ubicacion {
  width: 500px;
  height: 500px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}

.mainUbicacion {
  background-image: url(../img/flanAlargada.jpeg);
  background-size: 100vw 100vh;
  background-attachment: fixed;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .ubicacion {
    width: 100%;
  }
}

.infoUbicacion {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

.infoUbicacion h2 {
  color: white;
  text-align: center;
  margin: o;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: monospace;
}

.mapaUbicacion {
  text-align: center;
  margin: o;
  margin-bottom: 20px;
}

.mapaUbicacion h6 {
  color: red;
  font-size: 30px;
  font-family: monospace;
}

/* MENU */
.mainMenu {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin-left: 100px;
}

.card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  -webkit-box-shadow: opx 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: opx 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 200px;
}

.card {
  padding: 15px;
  text-align: center;
}

.card .menuInfo p {
  line-height: 1.5;
  color: #6a6a6a;
}

.card .menuInfo h3 {
  font-weight: 200;
  margin-bottom: 15px;
}

.card .menuInfo a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: pink;
  border: 1px solid pink;
  border-radius: 4px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.card .menuInfo a:hover {
  background: pink;
  color: white;
}

@media screen and (min-width: 450px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .Grid-padre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .mainTitle {
    font-size: 30px;
    text-align: center;
  }
  #h1 {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 375px) {
  .Grid-padre {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .mainTitle {
    font-size: 30px;
    text-align: center;
  }
  #h1 {
    font-size: 10px;
    text-align: center;
  }
}

@media (min-width: 425px) {
  .Grid-padre {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .mainTitle {
    font-size: 50px;
    text-align: center;
  }
  #h1 {
    font-size: x-large;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .Grid-padre {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .mainTitle {
    font-size: 75px;
    text-align: center;
  }
  #h1 {
    font-size: x-large;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .Grid-padre {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .mainTitle {
    font-size: 75px;
    text-align: center;
  }
  #h1 {
    font-size: x-large;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

img {
  width: 200px;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */